html,
body {
  overscroll-behavior: none;
}

@import "tailwindcss";

@font-face {
  font-family: "CircularStd-Light";
  src: url("/src/assets/fonts/CircularStd-Light.ttf") format("truetype");
}

@font-face {
  font-family: "CircularStd-Book";
  src: url("/src/assets/fonts/CircularStd-Book.ttf") format("truetype");
}

@font-face {
  font-family: "CircularStd-Medium";
  src: url("/src/assets/fonts/CircularStd-medium.ttf") format("truetype");
}

@font-face {
  font-family: "CircularStd-Bold";
  src: url("/src/assets/fonts/CircularStd-bold.ttf") format("truetype");
}

@font-face {
  font-family: "CircularStd-Black";
  src: url("/src/assets/fonts/CircularStd-Black.ttf") format("truetype");
}

@theme {
  --font-circular-light: "CircularStd-Light", sans-serif;
  --font-circular-book: "CircularStd-Book", sans-serif;
  --font-circular-medium: "CircularStd-Medium", sans-serif;
  --font-circular-black: "CircularStd-Black", sans-serif;
  --font-circular-bold: "CircularStd-Bold", sans-serif;

  --breakpoint-sm: 800px;
  --breakpoint-lg: 1025px;

  --color-black: #000;
  --color-blue: #4bb3ff;

  --color-white: #fff;
  --color-white-hover: #f0f0f0;
  --color-white-active: #c7c7c7;

  --color-grey: #b3b3b3;
  --color-grey-light: #cdcdcd;
  --color-grey-dark: #727272;

  --color-container: #121212;

  --color-elevated-base: #1f1f1f;
  --color-elevated-highlight: #2a2a2a;
  --color-elevated-press: #191919;

  --color-page-base: #353535ff;

  --color-divider: #292929;
  --color-divider-light: #7c7c7c;

  --shadow-elevated: 0 16px 24px rgba(0, 0, 0, 0.3),
    0 6px 8px rgba(0, 0, 0, 0.2);
}
