@import "tailwindcss";

@font-face {
  font-family: "CircularStd-Book";
  src: url("/src/assets/fonts/CircularStd-Book.ttf") format("truetype");
}

@font-face {
  font-family: "CircularStd-Medium";
  src: url("/src/assets/fonts/CircularStd-medium.ttf") format("truetype");
}

@font-face {
  font-family: "CircularStd-Bold";
  src: url("/src/assets/fonts/CircularStd-bold.ttf") format("truetype");
}

@font-face {
  font-family: "CircularStd-Black";
  src: url("/src/assets/fonts/CircularStd-Black.ttf") format("truetype");
}

@theme {
  --font-circular-book: "CircularStd-Book", sans-serif;
  --font-circular-black: "CircularStd-Medium", sans-serif;
  --font-circular-black: "CircularStd-Black", sans-serif;
  --font-circular-bold: "CircularStd-Bold", sans-serif;

  --breakpoint-sm: 800px;

  --color-black: #000;
  --color-elevated-base: #1f1f1f;
  --color-elevated-highlight: #2a2a2a;
  --color-elevated-press: #191919;

  --color-white: #fff;
  --color-grey: #b3b3b3;
  --color-grey-dark: #727272;

  --radius-max: 9999px;

  --color-white-hover: #f0f0f0;
  --color-white-active: #c7c7c7;

  --shadow-elevated: 0 16px 24px rgba(0, 0, 0, 0.3),
    0 6px 8px rgba(0, 0, 0, 0.2);

  /*  */

  --color-background-default: #000;

  --color-background-base: #121212;
  --color-background-highlight: #1f1f1f;
  --color-background-press: #000;

  --color-background-elevated-base: #1f1f1f;
  --color-background-elevated-highlight: #2a2a2a;
  --color-background-elevated-press: #191919;

  --color-background-tinted-base: #ffffff1a;
  --color-background-tinted-highlight: #ffffff24;
  --color-background-tinted-press: #ffffff36;

  --color-text-base: #fff;
  --color-text-subdued: #b3b3b3;
  --color-text-bright-accent: #1ed760;
  --color-text-negative: #f3727f;
  --color-text-warning: #ffa42b;
  --color-text-positive: #1ed760;
  --color-text-announcement: #4cb3ff;

  --color-essential-base: #fff;
  --color-essential-subdued: #7c7c7c;
  --color-essential-bright-accent: #1ed760;
  --color-essential-negative: #ed2c3f;
}
